<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.pkg.demopreprocess.factorybean.ClientFactoryBean" id="okHttpClient"/>

    <bean class="com.pkg.demopreprocess.service.request.impl.ExtractImpl" id="extract">
        <constructor-arg index="0" ref="okHttpClient"/>
        <constructor-arg index="1" value="${request.host}"/>
        <constructor-arg index="2" value="${request.extract}"/>
    </bean>

    <bean class="com.pkg.demopreprocess.service.request.impl.QueryImpl" id="query">
        <constructor-arg index="0" ref="okHttpClient"/>
        <constructor-arg index="1" value="${request.host}"/>
        <constructor-arg index="2" value="${request.query}"/>
    </bean>
</beans>